@-webkit-keyframes bio-animation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bio-animation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes headline-animation {
  0% {
    letter-spacing: -0.3em;
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headline-animation {
  0% {
    letter-spacing: -0.3em;
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes gradient {
  0% {
    background: #39273d;
  }
  25% {
    background: #203A43;
  }
  50% {
    background: #300c30;
  }
  75% {
    background: #373B44;
  }
  100% {
    background: #261f40;
  }
}

@keyframes gradient {
  0% {
    background: #39273d;
  }
  25% {
    background: #203A43;
  }
  50% {
    background: #300c30;
  }
  75% {
    background: #373B44;
  }
  100% {
    background: #261f40;
  }
}

body {
  -webkit-animation: gradient 12s linear infinite alternate both;
          animation: gradient 12s linear infinite alternate both;
}

#profilephoto {
  border-radius:50%;
  width:150px;
}

#headline {
  text-decoration: none;
  font-size:2.5em;
  font-family: 'Roboto Slab', serif;
  letter-spacing: .02em;
  color: #fdff73;
  -webkit-animation: headline-animation 2s;
          animation: headline-animation 2s;
  transition:0.5s ease;
  -moz-transition:0.5s ease;
  -webkit-transition:0.5s ease;
}

#headline:hover {
  cursor: pointer;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
  line-height: 25px;
  color: #fff;
}

a {
  color: #80ffca;
  font-family:'Roboto Slab';
  text-decoration: none;
}

a:hover {
  color: #ff6d74;
}

a:visited {
  text-decoration: none;
}

.circle_link {
  width: 28px; 
  height: 28px; 
  display: inline-block;
  margin-right: 10px;
}

.circle_link:hover{
  opacity: 0.5;
}

#container {
  margin-left: 8%;
  margin-top: 8%;
  text-align: left;
  max-width: 40%;
}

#bio {
  -webkit-animation: bio-animation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: bio-animation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (max-width: 900px) {
  #container {
    max-width: 100%;
    margin-right: 8%;
    text-align: center;
  }
}