

h1 {
	font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size: 40px;

}

h3{
  font-weight: normal;
  font-family:'Poppins', sans-serif;
}

h4{
  font-weight: normal;
  font-family:'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
  max-width: 800px;
  line-height: 25px;


}

a {
  color: #000;
  font-family:'Roboto';

}

a:hover, .nav-link:hover{
  color: #ff6d74 !important;
}

.active {
  font-weight: bold;
}

a:hover {
	text-decoration: none;

}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card {
  border-style: none;

}
.card-img-top:hover{
  opacity: 0.5;

}

.card-img-top{
 /* Do not scale the image */
  object-fit: cover;
  object-position: center;  
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

.card-img-top.scale{
  object-fit: contain;
  max-height: 300px;
}

.circle_link {
  width: 28px; 
  height: 28px; 
  display: inline-block;
  margin: 3px;
}

.circle_link:hover{
  opacity: 0.5;
  
}

.sidebar {
  float: left; 
  margin-right: 30px;
}

.content {

  text-align: left;
  max-width: 900px;
}


@media screen and (max-width: 768px) {
  .sidebar {float:none; text-align: center;}
  .content {text-align: center;}
}

#logo {
  width: 40px; 
  height: 40px; 
  margin-left: 40px; 
  margin-right: auto; 
  display: block;
}

@media screen and (max-width: 1000px) {
  #logo {margin-left: 0px;}
}
